{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="navsections">
    <div class="container">
        {% include 'navbar.html' %}
    </div>
</div>
<div class="container"id="aboutus">
    <h2>About us</h2>
    <p>
        eal Estate Developer serving buyers of luxury property in Africa. 
        A blend of new era architecture, unrivaled innovation, experience,
         and market knowledge, the vision for industry leadership is uninterrupted.
    </p>
    <p>
        We continue to provide the impeccable service, professional advice,
         and timely project deliveries that established our reputation.
          Our customer-centric culture caters to locals and international clientele alike,
           treating each client as worthy of their investment requirements.
    </p>
    <h4>Our vission</h4>
    <p>
        To provide quality services that exceed the expectations of our esteemed customers.
    </p>
    <h4>Our mission</h4>
    <p>
        To build long term relationships with our clients and provide exceptional customer
         relations and services through innovative and advanced technology.
    </p>
    <h4>Our goal</h4>
    <p>
        To become a leader in the real estate industry through providing 
        enhanced services, relationship and profitability.
    </p>
</div>
{% endblock %}
{% block footer %}{% endblock %}