{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="navsections">
    <div class="container">
        {% include 'navbar.html' %}
    </div>
</div>
<div class="container"id="details" style="margin-top: 40px;">
    {% if house %}
    <div class="cards">
        {% load static %}
        <div class="flex_images">
            <img src="{{ house.exteriorimage.url }}" width="50%" height="250px" alt="">
            <img src="{{ house.interiorimage1.url }}" width="50%" height="250px" alt="">
        </div>
        <div class="bottomdetails">
            <div class="locations"><span class="bolds" style="font-weight: bold;">Location:</span> {{ house.location }}</div>
            <div class="size">
                <div class="bedromms"><span class="bolds" style="font-weight: bold;">Bedrooms:</span> {{ house.bedrooms }} bed</div>
                <div class="ttsize"><span class="bolds" style="font-weight: bold;">House area:</span> {{ house.lengthofhouse }}m * {{ house.widthofhouse }}m</div>
                <div class="land"><span class="bolds" style="font-weight: bold;">Land area:</span> {{ house.areaofland }}m<sup>2</sup></div>
            </div>
            <div class="flex_booknow">
                <div class="prices">
                    {% load humanize %}
                    <span class="bolds" style="font-weight: bold;">price:</span> {{ house.price | intcomma }}
                </div>
            </div>
            <div class="description">
                <span class="bolds" style="font-weight: bold;">description:</span> {{ house.description }}
            </div>
            <div class="checkavailabilities">
                <button id="buttons" onclick="openCheckAvailability()">Check Availability</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="checkavailability" id="checkavailability">
        
        <form action="" method="post">
            <div class="close" onclick="closeCheckAvailability()">&times;</div>
            <p>Fill the following form, we will get to you using the details provided.</p>
            <p class="text-danger">Make sure you provide the right details.</p>
            {% csrf_token %}
            <div class="form-group">
                <label for="useremails"><span class="text-danger">*</span>User Email</label>
                <input type="email" name="useremails" oninput="removeError(this.id)" id="useremails" class="form-control shadow-none" placeholder="Enter Email Adress">
            </div>
            <div class="form-group">
                <label for="telephoneno"><span class="text-danger">*</span>Phone Number</label>
                <input type="tel" name="telephoneno" oninput="removeError(this.id)" id="telephoneno" class="form-control shadow-none" placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label for="availabilitymessage"><span class="text-danger">*</span>Availability Message</label>
                <textarea name="availabilitymessage" oninput="removeError(this.id)" value="{{ texts }}" id="availabilitymessage" cols="30" rows="10" class="form-control shadow-none"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" onclick="return validateAvailability()" id="buttons">
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}