{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="bodybackg">
    <div class="navsections">
        <div class="container">
            {% include 'navbar.html' %}
        </div>
    </div>
    <div class="container welcomesection">
        <div class="welcometexts">
            <h1>Find Real Estate that suits you.</h1>
            <div class="texts">We are commited to bringing you the most affordable land and 
                estates that favours your pocket.
            </div>
            <div class="getstarted"><a href="{% url 'house' %}"><button id="buttons">get started</button></a></div>
            <div class="deals">
                <div class="housesold">
                    <div class="numbrs text-center">450+</div>
                    <div class="texts text-center">House Sold</div>
                </div>
                <div class="happycustome">
                    <div class="numbrs text-center">270+</div>
                    <div class="texts text-center">Happy Customers</div>
                </div>
                <div class="awards">
                    <div class="numbrs text-center">11+</div>
                    <div class="texts text-center">Awards Won</div>
                </div>
            </div>
        </div>
        <div class="welcomeimage">
            {% load static %}
            <img src="{% static 'assets/welcome.png' %}" width="100%" height="100%" alt="">
        </div>
    </div>
</div>
<div class="popularresidence">
    <div class="searchitems">
        <h5 id="searchhome">Search your dream house</h5>
        <form action="{% url 'houses' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <select name="location" style="width:250px;" id="location" oninput="removeError(this.id)" class="form-control shadow-none">
                    {% for home in homes %}
                    <option value="{{ home.location }}">{{ home.location }}</option>
                    {% endfor %}
                </select>
                <div class="icons"><i class="fa-solid fa-location-dot"></i></div>
            </div>
            <div class="form-group">
                <select name="types" style="width:250px;" id="types" oninput="removeError(this.id)" class="form-control shadow-none">
                    {% for home in homes %}
                    <option value="{{ home.location }}">{{ home.choices }}</option>
                    {% endfor %}
                </select>
                <div class="icons"><i class="fa-solid fa-house"></i></div>
            </div>
            <div class="form-group">
                <select name="price" style="width:250px;" id="price" oninput="removeError(this.id)" class="form-control shadow-none">
                    {% for home in homes %}
                    <option value="{{ home.price }}">{{ home.price }}</option>
                    {% endfor %}</select>
                <div class="icons"><i class="fa-solid fa-dollar-sign"></i></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search Now" onclick="return validateSearch()" id="buttons">
            </div>
        </form>
    </div>
    <div class="containers">
        <div class="topwhite">
            <div class="container">
                <div class="flex_titles">
                    <h3>Our Popular Residence</h3>
                    <div class="explore"><a href="{% url 'houses' %}">Explore All</a></div>
                </div>
                <div class="flex_cards">
                    {% for house in homes %}
                    <div class="cards">
                        {% load static %}
                        <img src="{{ house.exteriorimage.url }}" width="100%" height="150px" alt="">
                        <div class="bottomdetails">
                            <div class="locations">{{ house.location }}</div>
                            <div class="size">
                                <div class="bedromms"><i class="fa-solid fa-bed"></i>{{ house.bedrooms }} bed</div>
                                <div class="ttsize">{{ house.lengthofhouse }}m * {{ house.widthofhouse }}m</div>
                                <div class="land"><i class="fa-solid fa-rectangle"></i>{{ house.areaofland }}m<sup>2</sup></div>
                            </div>
                            <div class="flex_booknow">
                                <a href="{% url 'details' house.id %}"><button id="buttons">See Details</button></a>
                                <div class="price">
                                    {% load humanize %}
                                    {{ house.price | intcomma }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bottomblack">
           
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="imagesside">
                {% load static %}
                <img src="{% static 'assets/welcome.png' %}" width="100%" height="100%" alt="">
            </div>
            <div class="serviceside">
                <h4>Your comfort is our top priority</h4>
                <p>
                    We work in patnership with many real estate organisations to get the best at lower prices 
                    home for our valued customers. We ensure all the bare minimum are put in place. That includes
                    security, water, access to medical fercility.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="testimonials">
    <div class="container">
        <div class="flex_testimonials">
            <div class="testimonial_card">
                <div class="images">
                    {% load static %}
                    <img src="{% static 'assets/user2.jpg' %}" height="100px" width="100px" alt="">
                </div>
                <div class="texts">
                    <div class="name text-center">Jane Doe</div>
                    <p>The pain of processing land required documents get simplified. This is where i got my current home.</p>
                </div>
            </div>
            <div class="testimonial_card">
                <div class="images">
                    {% load static %}
                    <img src="{% static 'assets/user2.jpg' %}" height="100px" width="100px" alt="">
                </div>
                <div class="texts">
                    <div class="name text-center">John Doe</div>
                    <p>Secure and transparent. If you are looking to buy a house, consider this your first priority. I promise no dissapointments.</p>
                </div>
            </div>
        </div>
        <div class="toogleinput" id="toogleinput">
            <div class="close" onclick="closeTestimonials()">&times;</div>
            <form action="" method="post">
                <div class="form-group">
                    <textarea name="testimony" id="testimony" oninput="removeError(this.id)" cols="30" rows="10" class="form-control shadow-none" placeholder="Type your text here"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" onclick="validateTestimonial(event)" id="buttons">
                </div>
            </form>
        </div>
        <p class="text-light addtesti" onclick="openTestimonials()">Add testimony</p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}