{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="navsections">
    <div class="container">
        {% include 'navbar.html' %}
    </div>
</div>
{% if posts != '' %}
<div class="homess container" style="margin-bottom: 20px;">
    <h4>Search Result</h4>
    <div class="flex_cards">
        {% for house in searchhomes %}
        <div class="cards">
            {% load static %}
            <img src="{{ house.exteriorimage.url }}" width="100%" height="150px" alt="">
            <div class="bottomdetails">
                <div class="locations">{{ house.location }}</div>
                <div class="size">
                    <div class="bedromms"><i class="fa-solid fa-bed"></i>{{ house.bedrooms }} bed</div>
                    <div class="ttsize">{{ house.lengthofhouse }}m * {{ house.widthofhouse }}m</div>
                    <div class="land"><i class="fa-solid fa-rectangle"></i>{{ house.areaofland }}m<sup>2</sup></div>
                </div>
                <div class="flex_booknow">
                    <a href="{% url 'details' house.id %}"><button id="buttons">See Details</button></a>
                    <div class="price">
                        {% load humanize %}
                        {{ house.price | intcomma }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="homes container">
    <h4 class="text-center">Available Homes</h4>
    <div class="flex_cards">
        {% for house in homes %}
        <div class="cards">
            {% load static %}
            <img src="{{ house.exteriorimage.url }}" width="100%" height="150px" alt="">
            <div class="bottomdetails">
                <div class="locations">{{ house.location }}</div>
                <div class="size">
                    <div class="bedromms"><i class="fa-solid fa-bed"></i>{{ house.bedrooms }} bed</div>
                    <div class="ttsize">{{ house.lengthofhouse }}m * {{ house.widthofhouse }}m</div>
                    <div class="land"><i class="fa-solid fa-rectangle"></i>{{ house.areaofland }}m<sup>2</sup></div>
                </div>
                <div class="flex_booknow">
                    <a href="{% url 'details' house.id %}"><button id="buttons">See Details</button></a>
                    <div class="price">
                        {% load humanize %}
                        {{ house.price | intcomma }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}