{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div id="logincontainer">
    <div class="loginform">
        <form action="" method="post" autocomplete="off">
            <h4 class="text-center">Welcome back</h4>
            <p class="text-center"> please login to proceed</p>
            {% csrf_token %}
            <div class="form-group">
                <label for="useremail">Email Adress</label>
                <input type="email" name="useremail" id="useremail" class="form-control shadow-none" placeholder="Enter usermane">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control shadow-none" placeholder="Enter password">
            </div>
            <div class="form-group">
                <a href="" class="text-center">forget password?</a>
                <p><input type="checkbox" name="remeberme" id="remeberme">Remember me.</p>
            </div>
            <div class="form-group">
                <input type="submit" style="width: 100%;" value="Login" class="btn btn-primary" id="submitbtn">
            </div>     
            <div class="form-group">
                <p>Dont have account yet? <a href="">signup</a></p>
            </div>   
        </form>
    </div>
    <div class="slideshowsection">
      <div class="darkbackground">
          <p>By continuing to use this app, you agree to<a href="">Terms and condition</a>. We ensure data privacy and quality of services.</p>
      </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}